/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Top Bar Styles */
.top-bar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

/* User Profile Dropdown Styles */
.user-profile {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-content.rounded {
    border-radius: 10px;
}

.user-profile:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    margin-bottom: 10px;
}

.dropdown-item:last-child {
    margin-bottom: 0;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.top-bar-profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.drop-down-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    margin-right: 10px;
    text-align: right;
}

.profile-name {
    font-weight: bold;
}

.view-profile {
    color: #007BFF;
    text-decoration: none;
    font-size: smaller;
}

/* Dashboard Styles */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* Make space for the fixed top bar */
    height: calc(100vh - 60px); /* Adjust height to fit within the viewport */
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    font-size: 24px;
    color: #333;
}

.number {
    font-size: 18px;
    color: #333;
}

/* Login and Register Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo span {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.register-btn,
.login-btn {
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.login-box,
.register-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 460px;
    box-sizing: border-box;
}

.login-box h1,
.register-box h1 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group .show-password {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
}

.form-options label {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.form-options input {
    margin-right: 10px;
}

.form-options a {
    font-size: 14px;
    text-decoration: none;
    color: #007BFF;
}

.submit-btn {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.terms input {
    margin-right: 10px;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.terms label {
    display: flex;
    align-items: center;
    margin: 0;
}
