<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logged Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='/sitepic/logo.png') }}" alt="Logo">
            <h2>Weather Node Initiative</h2>
        </div>
        <div class="user-profile">
            <div class="user-info">
                <div class="profile-name">{{ first_name }}</div>
                <div>Role</div>
            </div>
            <div class="top-bar-profile-picture" onclick="toggleDropdown()">
                <img src="{{ url_for('static', filename='/userpic/Bhone.png') }}" class="top-bar-profile-picture">
            </div>
            <div class="dropdown-content rounded" id="dropdown">
                <div class="dropdown-item">
                    <img src="{{ url_for('static', filename='/userpic/Bhone.png') }}" class="drop-down-profile-picture">
                    <div>
                        <div class="profile-name">{{ first_name }}</div>
                        <div><a href="#" class="view-profile">VIEW YOUR PROFILE</a></div>
                    </div>
                </div>
                <div class="dropdown-item">
                    <form action="{{ url_for('logout') }}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="dashboard">
            <div class="card" id="weather-card">
                <div class="card-header">
                    <span class="heart">♡</span>
                    <span class="number">1</span